<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giả Diện Kị Sĩ Revice : Anh trai tôi là Giả Diện Kị Sĩ</title>
    <link rel="stylesheet" href="./css_js/intro.css">
    <link rel="stylesheet" href="./bl_css/style.css">
</head>
<body>
  <nav> <!--Thanh nav-->
    <div class="topnav" id="myNav">
      <img class="logo" src="./img/logo.png">
      <a class="active" href="./index.html">Home</a>
      <a href="#news">Update</a>
      <div class="dropdown2">
        <button class="drop2">Contract</button>
        <div class="dropdown-content2">
        <img style="width:180px;margin:10px;box-shadow: 0px 8px 16px 0px black;" src="./img/QR.png">
        <p>Gmail : nguyenthong1122002@gmail.com<br/>
           Facebook : Cường Lê<br/>
           SĐT : 0901442834<br/>
          </p>
        </div>
      </div>
      <div class="dropdown">
        <button class="drop">Details</button>
        <div class="dropdown-content">
        <img style="width:150px;margin:10px;box-shadow: 0px 8px 16px 0px black;" src="./img/profile-img.png">
        <p style="font-size: 30px;">Huyễn Tưởng Quán</p>
          <p>Đây là một web đọc truyện cũng như là web đồ án cuối khóa, do là sản phẩm demo nên giao diện được làm đơn giản với 
          các tính năng cơ bản của một trang web truyện và có thể tồn đọng một số sai sót ... nếu có duyên thì sau này mình 
          học khóa Designer rồi quay lại nâng cấp cái trang web này lên <(") <br/>
          _Cường Lê_
          </p>
        </div>
      </div>
    </div>
  </nav> <!--Thanh nav-->
<div class="main_container">
<div class="container"> <!--trang chứa chính-->
<h1>Giả Diện Kị Sĩ Revice : Anh trai tôi là Giả Diện Kị Sĩ</h1>
<div class="introduce">
<img class="picture-content" src="./css_js/manga-container/Introduce-3.png"></div> <!--hết 1 div-->
<div class="detail">  <!--thông tin mô tả-->
<h2 class="inf_title">Mô tả</h2>
<p class="context">Đây là một phần manga nhỏ được tặng kèm khi khán giả đi ra rạp xem Saber + Zenkaiger : Super Hero Senki.<br/>
    Nội dung manga mô tả lại các sự kiện trong Short Gekijouban Kamen Rider Revice (hay nói cho dễ hiểu là Episode 0) dưới góc nhìn của Daiji Igarashi con trai thứ hai của nhà Igarashi.<br/>
    Câu chuyện đồng thời sẽ bật mí thêm một chút về quá khứ của cậu.</p></div> <!--hết 1 div-->
<!--các thông tin mô tả khác-->
<div class="description">
<p>Thể loại :
    <span class="category" style="color:#551a8b">Action</span>
    <span class="category" style="color:#551a8b">OneShot</span>
    <span class="category" style="color:#551a8b">Adventure</span>
    <span class="category" style="color:#551a8b">Official</span>
</p>
<p>Nhóm dịch :
    <span class="translate_group" style="color:#551a8b">Fenix Fansub</a></span>
</p>
<p>Người đăng :
    <span class="credit" style="color:#551a8b">_Mei_</a></span>
</p>
<p>Trạng thái :
    <span class="status" style="color:green">Đã hoàn tất</span>
</p>
<p>Update :
    <span class="day_update">19/07/2022 02:06</span></p></div>
<!--hết 1 div-->
<div class="list-chapters"> <!--div chính-->
<div class="list">
<table id="table1">
    <thead>
    <tr>
      <th>Chương</th>
      <th>Ngày đăng</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a class="chap" href="./revice-reading.html">Giả Diện Kị Sĩ Revice : Anh trai tôi là Giả Diện Kị Sĩ</a></td>
      <td>19/07/2022 02:06</td>
    </tr>
    </tbody>
  </table>
</div> <!--div list-->
</div>
<hr><br/><hr>
<h2 style="text-align: center;margin: 15px;">BÌNH LUẬN</h2>
<section>
  <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">
<!-- partial:index.partial.html -->
<section id="app">
  <div class="bl_container">
    <div class="row">
        </div><!-- End row -->
    <div class="row">
      <div class="col-6">
    <textarea type="text" class="input" placeholder="Nhập bình luận" v-model="newItem" @keyup.enter="addItem()"></textarea>
        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Bình luận</button>
      </div><!-- End col -->
      <br/>
      <div class="col-6">
        <div class="comment">
      <p v-for="items in item" v-text="items"></p>
        </div><!--End Comment-->
        </div><!--End col -->
    </div><!--End Row -->
  </div><!--End Container -->
</section><!-- end App -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="./bl_js/script.js"></script>
         
      </div>
  </div>
  </div>
</section>
</div>
<div class="right">
<div class="list-recommend">
<table id="table2">
      <thead>
        <tr>
          <th>Đề Xuất</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><img src="./css_js/manga-container/recommend-1.png"></br><a class="recommend" href="./SIC_intro.html" title="recommend">S.I.C Giả Diện Kị Sĩ Amazons : Thú Nhân Chứng Hậu Quần</a></td>
          </tr>
          <tr>
            <td><img src="./css_js/manga-container/recommend-2.jpg"></br><a class="recommend" href="./Chireikiden_intro.html" title="recommend">Ngụy Vật Luyến Ma Pháp Sử [Đông Phương Ngoại Lai Vi Biên]</a></td>
          </tr>
          <tr>
            <td><img src="./css_js/manga-container/recommend-4.png"></br><a class="recommend" href="./Touhou_intro.html" title="recommend">Dự Án Đông Phương Hỏa Điểu Tác Phẩm Tập - Hỏa Điểu Phong Kiệt</a></td>
          </tr>
          <tr>
            <td><img src="./css_js/manga-container/recommend-5.jpg"></br><a class="recommend" href="#" title="recommend">Giả Diện Kị Sĩ Thánh Nhận : Kiếm Hào Đoạn Ma Thiên</a></td>
          </tr>
          <tr>
            <td><img src="./css_js/manga-container/recommend-6.jpg"></br><a class="recommend" href="#" title="recommend">Phong Đô Thám Trinh</a></td>
          </tr>
          <tr>
            <td><img src="./css_js/manga-container/recommend-7.png"></br><a class="recommend" href="#" title="recommend">Fate / Kaleid Liner Prisma Illya</a></td>
          </tr>
      </tbody>
</table>
</div>
<div class="banner"><img style="width:350px" src="./css_js/manga-container/banner.png">
</div>
</div>
</div>
<div class="footer">
  CREATED IN 2022<br/>
  Huyễn Tưởng Quán DESIGNED BY Cường Lê
</div>
</body>
</html>